{% extends 'site_base.html' %}
{% load i18n static widget_tweaks %}
{% block title %}Cambiar contrase&ntilde;a{{ supper }}{% endblock title %}
{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Contrase&ntilde;a</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Cambiar contrase&ntilde;a</li>
            </ol>
            <div class="section sec-services">
                <div class="container">
                    <div class="row mb-7">
                        <div class="col-lg-7 mx-auto">
                            <form method="post">{% csrf_token %}
                                <div>
                                    {% if form.errors %}
                                        <p class="text-danger text-center">
                                            {% if form.errors.items|length == 1 %}
                                                {% translate "Por favor corrija el error debajo." %}{% else %}
                                                {% translate "Por favor corrija los errores debajo." %}{% endif %}
                                        </p>
                                    {% endif %}
                                    <fieldset class="module aligned wide">
                                        <div class="form-group">
                                            {{ form.old_password.errors }}
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    {{ form.old_password.label_tag }}
                                                </div>
                                                <div class="col-lg-9">
                                                    {{ form.old_password|add_class:'form-control' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-2 mt-2">
                                            {{ form.new_password1.errors }}
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    {{ form.new_password1.label_tag }}
                                                </div>
                                                <div class="col-lg-9">
                                                    {{ form.new_password1|add_class:'form-control' }}
                                                </div>
                                                {% if form.new_password1.help_text %}
                                                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.new_password2.errors }}
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        {{ form.new_password2.label_tag }}
                                                    </div>
                                                    <div class="col-lg-9">
                                                        {{ form.new_password2|add_class:'form-control' }}
                                                    </div>
                                                    {% if form.new_password2.help_text %}
                                                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                                    {% endif %}
                                                </div>
                                    </fieldset>
                                    <div class="submit-row">
                                        <a class="btn btn-secondary"
                                           href="{% url 'dashboard' %}">Cancelar</a>
                                        <input type="submit" value="{% translate 'Change my password' %}"
                                               class="btn btn-success">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}